.imagen-cardi {
  width: 100%;
}

.cardi {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 200px;
  height: 270px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardi-img {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.cardi-img-container {
  max-height: 150px;
}

.cardi:last-child {
  justify-content: flex-end;
}

.cardi-title {
  font-size: 20px;
  font-weight: 500;
  color: #323232;
  text-align: center;
}

.cardi-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cardi-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.cardi-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.cardi-btn {
  border-color: black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  background-image: linear-gradient(45deg, white 50%, #28a745 50%);
  background-position: 20%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.cardi-btn:hover {
  color: #ffffff;
  background-position: 90%;
}

.cardi-img:hover {
  transform: translateY(-3px);
}

.link {
  text-decoration: none;
  color: #000000;
}

.paginator {
  display: -ms-flexbox;
  flex-wrap: wrap;
  display: flex !important;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  width: 75%;
  padding: 5px;
}

@media (min-width: 200px) {
  .clasesita {
    width: 100% !important;
  }

  .clasesita2 {
    width: auto;
    flex: auto;
    justify-content: center;
  }
}

.paginator .page-link {
  color: black;
}

.paginator .page-item.active .page-link {
  background-color: #28a745;
  border-color: #28a745;
}

.paginator .page-item .page-link:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white;
}
