/* CSS */
.general-footer {
  width: 100%;
  position: relative;
  bottom: -200px;
  transition: bottom 0.5s ease-in-out;
  margin: 50px;
}

.footer-visible {
  bottom: 0;
  
}

@media screen and (max-width: 991px) {
  .general-footer {
    display: none;
  }
}
