.optimize-img-container {
  object-position: center;
  background-size: 100%;
  background-position: center;
  background-image: url("../../assets/imgs/placeholder_shirt.png");
}

.optimize-img {
  
}

.optimize-img-container.loaded > .optimize-img {
  opacity: 1;
}

.optimize-img-container > .optimize-img {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
