.tableSelectorContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5%;
}

.tableSelectorContainer button {
  margin: 5px;
}

.tableContainer {
  display: flex;
  justify-content: center; /* Alineación horizontal */
}