.navbar-nav .nav-link {
  display: flex;
  margin-right: 50px;
  align-items: center;
  color: black;
  font-weight: bold;
  padding: 10px;
  transition: color 0.2s;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #28a745;
  transition: width 0.4s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.navbar-nav .nav-link:hover {
  text-decoration: none;
  color: #28a745;
}

.navbar-nav .nav-link svg {
  margin-right: 7px;
  font-size: 1.2rem;
}

@media (max-width: 1199px) {
  .navbar-nav .nav-link {
    margin-right: 20px;
  }
}

/* Estilos para el botón de búsqueda */
.navbar-nav .search-button {
  display: flex;
  align-items: center;
}

/* Estilo para el espacio entre el botón de búsqueda y los enlaces */
.navbar-nav .search-button + .nav-link {
  margin-left: 20px;
  /* Espacio entre el botón de búsqueda y los enlaces */
}

/* Estilos para el formulario de búsqueda */
.navbar-nav .search-form {
  display: flex;
  align-items: center;
}

/* Estilos para el campo de entrada de búsqueda */
.navbar-nav .search-form .form-control {
  margin-right: 10px;
  /* Espacio entre el campo de entrada y el botón de búsqueda */
  border-color: #333;
  /* Color del borde del campo de entrada */
}

/* Estilos para el botón de búsqueda */
.navbar-nav .search-form .btn {
  background-color: #28a745;
  /* Color de fondo del botón de búsqueda */
  color: #fff;
  /* Color de texto del botón de búsqueda */
  border-color: #28a745;
  /* Color del borde del botón de búsqueda */
  font-weight: bold;
  /* Peso de fuente del botón de búsqueda */
}

/* Estilo para el espacio a la derecha de la barra de navegación */
.navbar-nav .ml-auto {
  margin-right: 35px;
  /* Espacio a la derecha de la barra de navegación */
}

/* Estilo personalizado para el input */
.input-text-buscar {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  margin-right: 10px;
}

.button-buscar {
  background-color: #28a745;
  color: #fff;
  font-weight: bold;
  border: 2px solid #28a745;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.button-buscar:hover {
  background-color: #218838;
}
