@media (min-width: 200px) {
  .clasesita {
    width: 100% !important;
  }

  .clasesita2 {
    width: auto;
    flex: auto;
    justify-content: center;
  }
}

.cardi {
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  --main-focus: #2d8cf0;
  width: 200px;
  height: 270px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cardi:last-child {
  justify-content: flex-end;
}

.imagen-cardi {
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.cardi-img-container {
  max-height: 150px;
}

.cardi-title {
  font-size: 20px;
  font-weight: 500;
  color: #323232;
  text-align: center;
}