  /* Estilo para el nombre de la camiseta */
  .camiseta-title {
    width: max-content;
    font-size: 1.5rem;
    /* Tamaño de fuente del nombre */
    margin-top: 10px;
    /* Espacio entre la imagen y el nombre */
    margin-left: 0;
  }

  /* Estilo para la tarjeta principal */
  .card {
    width: 100%;
    border: none;
    /* Elimina el borde de la tarjeta */
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
  }

  /* Estilo para las fotos adicionales */
  .additional-photos {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 10px;
    /* Espacio entre las fotos */
    margin-top: 20px;
    /* Espacio entre la tarjeta principal y las fotos */
    width: 20px;
    height: 300px;
  }

  /* Estilo para la imagen principal */
  .camiseta-image {
    max-width: 100%;
    /* Ajusta el ancho máximo de la imagen */
    height: auto;
    /* La altura se ajustará automáticamente */
  }

  .additional-photos img {
    max-width: 300px;
    border-radius: 10px;
    /* Ajusta el ancho máximo de las imágenes */
    height: auto;
    /* La altura se ajustará automáticamente */
    margin: 5px;
    /* Agrega un margen entre las imágenes */
    border: 2px solid transparent;
    /* Agrega un borde transparente a las imágenes */
    cursor: pointer;
    /* Cambia el cursor a un dedo señalando */
    transition: border-color 0.3s, transform 0.3s;
    /* Agrega una transición suave para el color del borde y la transformación */
  }
  
  /* Efecto de "hover" para las imágenes */
  .additional-photos img:hover {
    border-color: #007bff;
    /* Cambia el color del borde al hacer "hover" */
    transform: scale(1.05);
    /* Aplica una ligera escala a la imagen al hacer "hover" */
  }

  /* Estilo para el enlace de "Volver" */
  .back-link {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    text-decoration: none;
    /* Quita el subrayado del enlace */
    border-radius: 4px;
    /* Bordes redondeados */
    transition: background-color 0.3s ease;
    /* Transición de color de fondo al pasar el ratón */
  }

  .back-link:hover {
    background-color: #0056b3;
    /* Cambia el color de fondo al pasar el ratón */
  }


  .boton {
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
  }
  
  .boton:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  .boton:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };

  .card-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #323232;
}