.cardi-img {
  /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  object-position: center;
}

.cardi-img-container {
  max-height: 150px;
  background-size: auto;
  background-position: center;
  background-image: url("../assets/imgs/placeholder_shirt.png");
}
