.container-general-pages {
    width: 80%;
    margin-top: 3%;
}

.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contacto-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contacto-container p {
  font-size: 18px;
  margin-bottom: 20px;
}

.redes-sociales {
  margin-bottom: 100px;
}

.redes-sociales a {
  text-decoration: none;
  color: #333;
  font-size: 32px;
  margin: 0 15px;
  transition: color 0.8s, padding 1s;
}

.redes-sociales a:hover {
  padding: 15px;
  color: grey;
}

.tooltip-general {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  font-size: small;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  min-width: 200px;
}

.enlace-bonito {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.enlace-bonito:hover {
  background-color: grey;
}
