.accordeon {
    max-width: 300px; /* Ajusta este valor según tus necesidades */
    max-height: 100vh; /* Ajusta este valor según tus necesidades */
    overflow-y: auto; /* Añade una barra de desplazamiento si el contenido excede la altura máxima */
    width: 400px;
}

.sidebar-completo {
    width: 50vh;
}


/* Estilo de la hamburguesa */
.hamburger-button {
    display: none; /* Ocultar por defecto en pantallas grandes */
  }
  
  /* Estilo de la barra lateral abierta */
  .sidebar-open .sidebar {
    visibility: visible;
    width: 100%;
    transition: width 0.3s ease-in-out;
  }
  
  /* Estilo de la barra lateral cerrada */
  .sidebar {
    visibility: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
  }

  .imagen-card {
    width: 100%;
  }

  .card {
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    --main-focus: #2d8cf0;
    width: 230px;
    height: 300px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card:last-child {
    justify-content: flex-end;
  }

  .card-img {
    /* clear and add new css */
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}

.card-img-container {
    max-height: 150px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  color: #323232;
}
  

  /* Estilo de la barra lateral abierta en pantallas pequeñas */
@media (max-width: 1000px) {

    .open {
        width: 0%;
    }

    .sidebar-completo-open {
      visibility: visible !important;
      width: 80%;
      transition: width 0.3s ease-in-out;
    }

    .sidebar-completo {
        visibility: hidden;
        width: 0%;
    }

    .hamburger-button {
        display: block;
      }
      
      /* Ocultar la hamburguesa cuando la barra lateral está abierta */
      .sidebar-open .hamburger-button {
        display: none;
      }
  }
  