.accordeon {
  max-width: 300px;
  /* Ajusta este valor según tus necesidades */
  max-height: 100vh;
  /* Ajusta este valor según tus necesidades */
  overflow-y: auto;
  /* Añade una barra de desplazamiento si el contenido excede la altura máxima */
  width: 400px;
}

.sidebar-completo {
  width: 25vh;
  width: 0%;
}

/* Estilo de la hamburguesa */
.hamburger-button {
  display: none; /* Ocultar por defecto en pantallas grandes */
}

/* Mostrar la hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
  .hamburger-button {
    display: block;
  }

  /* Ocultar la barra lateral cuando la hamburguesa está visible */
  .hamburger-button.active + .accordeon {
    visibility: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
  }

  /* Mostrar la barra lateral cuando se hace clic en la hamburguesa */
  .hamburger-button.active + .accordeon.open {
    visibility: visible;
    width: 100%;
    transition: width 0.3s ease-in-out;
  }
}

