.accordeon {
  max-width: 300px;
  max-height: 100vh;
  overflow-y: auto;
  width: 400px;
}

.sidebar-completo {
  width: 50vh;
  width: 0%;
}

.sidebar-open .sidebar {
  visibility: visible;
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.sidebar {
  visibility: hidden;
  width: 0;
  transition: width 0.3s ease-in-out;
}

@media (min-width: 200px) and (max-width: 1000px) {
  .open {
    width: 0%;
  }

  .sidebar-completo-open {
    visibility: visible !important;
    width: 80%;
    transition: width 0.3s ease-in-out;
  }

  .sidebar-completo {
    visibility: hidden;
    width: 0%;
  }

  .hamburger-button {
    display: block;
  }

  .sidebar-open .hamburger-button {
    display: none;
  }
}

/* Estilo de la hamburguesa */
.hamburger-button {
  display: none;
  /* Ocultar por defecto en pantallas grandes */
}

/* Mostrar la hamburguesa en pantallas peque침as */
@media (max-width: 768px) {
  .hamburger-button {
    display: block;
  }

  /* Ocultar la barra lateral cuando la hamburguesa est치 visible */
  .hamburger-button.active+.accordeon {
    visibility: hidden;
    width: 0;
    transition: width 0.3s ease-in-out;
  }

  /* Mostrar la barra lateral cuando se hace clic en la hamburguesa */
  .hamburger-button.active+.accordeon.openi {
    visibility: visible;
    width: 100%;
  }

  /* Estilo de la barra lateral abierta en pantallas peque침as */
  @media (min-width: 200px) and (max-width: 1000px) {
    .open {
      width: 0%;
    }

    .sidebar-completo-open {
      visibility: visible !important;
      width: 80%;
      transition: width 0.3s ease-in-out;
    }

    .sidebar-completo {
      visibility: hidden;
      width: 0%;
    }

    .hamburger-button {
      display: block;
    }

    /* Ocultar la hamburguesa cuando la barra lateral est치 abierta */
    .sidebar-open .hamburger-button {
      display: none;
    }
  }
}