.tooltip-general {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  font-size: 11px;
  background-color: black;
  color: white;
  margin-top: 20px;
  padding: 5px;
  border-radius: 4px;
}
