.hader-table {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  position: relative; /* Agregado para garantizar que el círculo sea relativo a th */
}

.sub-text-circle {
  position: absolute;
  border: solid black 1px;
  right: 15%;
  bottom: 5px;
  border-radius: 50%;
  padding: 3px;
  font-weight: bolder;
  background-color: #28a745;
}

.sub-text {
  color: white;
  font-size: 11px;
}

/* Media query para hacer ajustes en dispositivos más pequeños */
@media screen and (max-width: 1000px) {
  .sub-text-circle {
    font-size: 8px;
    padding: 2px;
  }
}
