.header-table {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  position: relative;
}

.sub-text-circle {
  position: absolute;
  border: solid black 1px;
  right: 5px;
  top: 25px;
  border-radius: 50%;
  padding: 3px;
  font-weight: bolder;
  background-color: #28a745;
}

.sub-text {
  color: white;
  font-size: 11px;
}

@media screen and (max-width: 1000px) {
  .sub-text-circle {
    top: 40px;
    font-size: 8px;
    padding: 2px;
  }
}
